<div class="ui-g-12">
    <form id="department-form" class="department-form">
        <mat-form-field class="department-full-width">
            <input matInput placeholder="Département" aria-label="Département" [matAutocomplete]="auto"
                [formControl]="departmentCtrl">
            <mat-autocomplete #auto="matAutocomplete"
                (optionSelected)='getDepartmentsForSameRegion($event.option.value)'>
                <mat-option *ngFor="let department of filteredDepartment | async" [value]="department.name">
                    <span>{{department.name}} ({{department.code}})</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>
<div class="ui-g-12" *ngIf="departmentSelected">
    <mat-list>
        <h3 mat-subheader>Liste des départements issus de la même région</h3>
        <mat-list-item *ngFor="let departmentSameRegion of departmentsSameRegionList">
            <p mat-line>{{departmentSameRegion.name}} ({{departmentSameRegion.code}})</p>
        </mat-list-item>
    </mat-list>
</div>